header,
hgroup,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

body {
    background-color: ;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('ptrbackground.jpg');
}

/* Reset some default styles to ensure consistent spacing and alignment */
body,
ul {
    margin: 0;
    padding: 0;
}

/* Style the wrapper to use box */
#wrapper {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    min-width: 600px;
    background-color: #8dc6e4;
    /* Allows items to wrap to the next line if there's not enough space */
}

/* Style the navigation */
nav {
    /* Take up available space */
    width: 160px;
    height: 200px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    background-color: #8dc6e4;
}

nav ul {
    list-style-type: none;
    font-size: 1.2em;
}

nav ul li {
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


nav a:hover {
    color: #FFFFFF;
}

#content{
    padding-left: 25px;
    padding-top: 1px;
    margin-left: 180px;
    background-color: white;
}

#content ul {
    list-style-position: inside;
    list-style-image: url('marker.gif');
}

#content ul li{}

.resort{
    font-weight: bold;
    color: #8094a8;
}

h1 {
    margin-bottom: 0;
    padding: 10px;
}

h2 {
    color: #3399CC;
}

h1,
h2 {
    font-family: Georgia, "Times New Roman", serif;
}

dt {
    color: #000033;
}

/* Position the header above the nav and content */
header {

    
    background-color: #333;
    text-align: left;
    color: #fff;
    z-index: 2;
    background-image: url('sunset.jpg'); /* Replace 'your-image-url.jpg' with the URL of your header image */
    background-size: cover; /* Adjust this property as needed */
    background-repeat: no-repeat;
    background-color: transparent; 
    background-position: right;
    /* Make sure the header appears above other content */
}

#content img{
    float: left;
    padding-right: 15px;
}

/* Optional: Add a border to separate the header from the content */
#container {
    border-top: 1px solid #666;
}

/* Style the contact section */
#contact {
    margin-top: 20px;
}

/* Position the footer at the bottom of the container */
footer {
    margin-left: 180px;
    padding-left: 25px;
    padding-top: 1px;
    margin-left: 180px;
    background-color: white;
    padding-bottom: 20px;
    font-style: italic;
}